:root {
	--mdc-theme-primary: #02abea;
	--mdc-theme-secondary: #6200ee;

}

/* Ugly fix */
/* Consider moving to SASS or find something else */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: #02abea;
}
