body {
	margin: 0;
}

/* CARDS */
.lab-card__primary {
	padding: 1rem;
}

.lab-card__secondary {
	padding: 0 1rem 8px;
}

.lab-card__title {
	margin: 0;
}

.lab-card__secondary,
.lab-card__subtitle {
	color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54));
}

.lab-card__subtitle {
	margin: 0;
}

/* CANVAS */
#draw {
  display: block;
  margin: 10px;
}

/* CUSTOM */
.lab-button--fullwidth {
  width: 100%;
}
